// @import "../bower_components/reset-scss/reset.scss";
@import "../bower_components/basscss/css/basscss.css";


body {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:#000;
  font-weight:300;
}


.wrapper {
  max-width:900px;
}

.header {
}

.header-title {
  font-weight: 100;
  font-size:80px;
  @media screen and (max-width: 640px) {
    font-size:60px;
  }
}

.header-subtitle {
  font-weight: 100;
}

